<!-- Wrapper -->
<div id="wrapper" class="divided">

  <!-- Banner -->
  <section class="banner style1  content-align-left  fullscreen onload-image-fade-in onload-content-fade-right">
    <a name="order"></a>
    <div class="content">
      <h1>Заказать ремот квартиры под ключ</h1>
      <p class="major">Позвонив по телефону или заполнив форму ниже. Мы обсудим все детали и  оценим объект, сделаем смету и расчитаем
        стоимость работ и материалов</p>
      <a href="tel:+380675595933" class="button primary fit">Позвонить +38(067)559-59-33</a>

      <!-- Form -->
      <section>
        <header>
          <h3>Заполнить форму</h3>
        </header>
        <div>

          <form method="post" action="#">
            <div class="fields">

              <div class="field ">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" value="" />
              </div>




              <div class="field">
                <label for="message">Опишите заказ</label>
                <textarea name="message" id="message" rows="6"></textarea>
              </div>

            </div>
            <ul class="actions">
              <li><input type="submit" name="submit" id="submit" value="Отправить заказ" /></li>
            </ul>
          </form>

        </div>
      </section>
    </div>
  </section>
  <!-- Items -->
  <section class="wrapper style1">
    <div class="inner">
      <h2>Наши преимущества</h2>
      <p>Наша команда имеет разностороний опыт в строительных работах. И поэтому мы можем выполнить работы под ключ.  </p>
      <div class="items style1 medium onscroll-fade-in align-center">
        <section><div class="inner">
          <span class="icon style2 solid major fa-money-bill"></span>
          <h3>Дорого</h3>
          <p>Да качество - это всегда дорого!</p>
        </div></section>
        <section><div class="inner">
          <span class="icon solid style2 major fa-gem"></span>
          <h3>Богато</h3>
          <p></p>
        </div></section>
        <section><div class="inner">
          <span class="icon solid style2 major fa-cog"></span>
          <h3>Профиссеонально</h3>
          <p>Мы всегда беремся за сложные обьекты и выполняем максимально качественно</p>
        </div></section>

      </div>
    </div>
  </section>

  <!-- Spotlight -->
  <section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
    <div class="content">
      <h2>Бригада выполнит ремот под ключ</h2>
      <p>Профисиональная бригада выполнит ремонт под ключ. Электромонтажные работы, сантехнические работы, малярные штукотурные работы и так далее</p>
    </div>
    <div class="image">
      <img src="images/spotlight02.jpg" alt=""/>
    </div>
  </section>

  <!-- Gallery -->
  <section class="wrapper style1 ">
    <div class="inner">
      <h2>Сделаные нами объекты</h2>
      <p>Практически все обьекты сделаны подключ</p>
    </div>

    <!-- Gallery -->
    <div class="gallery style2 medium lightbox onscroll-fade-in">
      <article>
        <a href="images/gallery/fulls/01.jpg" class="image">
          <img src="images/gallery/thumbs/01.jpg" alt=""/>
        </a>
        <div class="caption">
          <h3>Title</h3>
          <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
          <ul class="actions fixed">
            <li><span class="button small">Details</span></li>
          </ul>
        </div>
      </article>
      <article>
        <a href="images/gallery/fulls/02.jpg" class="image">
          <img src="images/gallery/thumbs/02.jpg" alt=""/>
        </a>
        <div class="caption">
          <h3>Title</h3>
          <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
          <ul class="actions fixed">
            <li><span class="button small">Details</span></li>
          </ul>
        </div>
      </article>
      <article>
        <a href="images/gallery/fulls/03.jpg" class="image">
          <img src="images/gallery/thumbs/03.jpg" alt=""/>
        </a>
        <div class="caption">
          <h3>Title</h3>
          <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
          <ul class="actions fixed">
            <li><span class="button small">Details</span></li>
          </ul>
        </div>
      </article>
      <article>
        <a href="images/gallery/fulls/04.jpg" class="image">
          <img src="images/gallery/thumbs/04.jpg" alt=""/>
        </a>
        <div class="caption">
          <h3>Title</h3>
          <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
          <ul class="actions fixed">
            <li><span class="button small">Details</span></li>
          </ul>
        </div>
      </article>
      <article>
        <a href="images/gallery/fulls/05.jpg" class="image">
          <img src="images/gallery/thumbs/05.jpg" alt=""/>
        </a>
        <div class="caption">
          <h3>Title</h3>
          <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
          <ul class="actions fixed">
            <li><span class="button small">Details</span></li>
          </ul>
        </div>
      </article>
      <article>
        <a href="images/gallery/fulls/06.jpg" class="image">
          <img src="images/gallery/thumbs/06.jpg" alt=""/>
        </a>
        <div class="caption">
          <h3>Title</h3>
          <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
          <ul class="actions fixed">
            <li><span class="button small">Details</span></li>
          </ul>
        </div>
      </article>
      <article>
        <a href="images/gallery/fulls/07.jpg" class="image">
          <img src="images/gallery/thumbs/07.jpg" alt=""/>
        </a>
        <div class="caption">
          <h3>Title</h3>
          <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
          <ul class="actions fixed">
            <li><span class="button small">Details</span></li>
          </ul>
        </div>
      </article>
      <article>
        <a href="images/gallery/fulls/08.jpg" class="image">
          <img src="images/gallery/thumbs/08.jpg" alt=""/>
        </a>
        <div class="caption">
          <h3>Title</h3>
          <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
          <ul class="actions fixed">
            <li><span class="button small">Details</span></li>
          </ul>
        </div>
      </article>
      <article>
        <a href="images/gallery/fulls/09.jpg" class="image">
          <img src="images/gallery/thumbs/09.jpg" alt=""/>
        </a>
        <div class="caption">
          <h3>Title</h3>
          <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
          <ul class="actions fixed">
            <li><span class="button small">Details</span></li>
          </ul>
        </div>
      </article>
      <article>
        <a href="images/gallery/fulls/10.jpg" class="image">
          <img src="images/gallery/thumbs/10.jpg" alt=""/>
        </a>
        <div class="caption">
          <h3>Title</h3>
          <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
          <ul class="actions fixed">
            <li><span class="button small">Details</span></li>
          </ul>
        </div>
      </article>
      <article>
        <a href="images/gallery/fulls/11.jpg" class="image">
          <img src="images/gallery/thumbs/11.jpg" alt=""/>
        </a>
        <div class="caption">
          <h3>Title</h3>
          <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
          <ul class="actions fixed">
            <li><span class="button small">Details</span></li>
          </ul>
        </div>
      </article>
      <article>
        <a href="images/gallery/fulls/12.jpg" class="image">
          <img src="images/gallery/thumbs/12.jpg" alt=""/>
        </a>
        <div class="caption">
          <h3>Title</h3>
          <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
          <ul class="actions fixed">
            <li><span class="button small">Details</span></li>
          </ul>
        </div>
      </article>
    </div>

  </section>

  <section class="banner style1  content-align-left  fullscreen onload-image-fade-in onload-content-fade-right">

    <div class="content">
      <div class="inner">
        <h2>Заказать ремот под ключ</h2>
        <p>Заказать ремот под ключ Вы можете нажав кнопку ниже</p>
      </div>
      <a href="#order" class="button primary fit">Сделать заказ </a>

    </div>
  </section>


  <!-- Footer -->
  <footer class="wrapper style1 align-center">
    <div class="inner">
      <ul class="icons">
        <li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon brands style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
        <li><a href="#" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
      </ul>
    </div>
  </footer>

</div>
